.profile {
	width: 300px;
	text-align: center;
	padding: 1rem;
	background-color: #ebebeb;
	box-shadow: 10px 8px 31px 6px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 10px 8px 31px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 10px 8px 31px 6px rgba(0, 0, 0, 0.23);
	border-radius: 20px;
	margin-bottom: 1rem;
	position: relative;
}
.photo {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.new {
	background-color: aqua;
	padding: 3px;
	border-radius: 5px;
	position: absolute;
	display: block;
	right: 52px;
	top: 42px;
	font-weight: bold;
}
