/* Avatar */
.profile {
	width: 300px;
	text-align: center;
	padding: 1rem;
	background-color: #ebebeb;
	box-shadow: 10px 8px 31px 6px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 10px 8px 31px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 10px 8px 31px 6px rgba(0, 0, 0, 0.23);
	border-radius: 20px;
	margin-bottom: 1rem;
	position: relative;
}
.photo {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.new {
	background-color: aqua;
	padding: 3px;
	border-radius: 5px;
	position: absolute;
	display: block;
	right: -5px;
	top: 42px;
	font-weight: bold;
}
.avatar {
	position: relative;
	width: 200px;
	height: 200px;
	margin: auto;
}

/* Counter */
#root {
	padding: 20px;
}
.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 5px solid pink;
	border-radius: 10px;
	padding: 20px 30px 30px 30px;
	margin-bottom: 20px;
}
.counter:hover {
	background-color: rgb(255, 255, 210);
}
.number {
	font-size: 70px;
	font-weight: 500;
}
.button {
	border: none;
	background-color: thistle;
	color: #fff;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 15px;
	margin-top: 20px;
	cursor: pointer;
	border: 2px solid plum;
}

.total {
	text-align: center;
	background-color: gold;
	font-weight: bold;
	padding: 10px;
	font-size: 25px;
	margin-bottom: 15px;
}
